// COLOR
$color-jonquil: #f4c613;
$color-raisin-black: #212226;
$color-white-smoke: #f4f4f4;
$color-white: #fff;
$color-reg-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
